include ../../../header

html
    head
        meta(property='og:title'       content='ISO')
        meta(property='og:description' content='Isomorphism')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/univalent/iso/')

block title
    title ISO

block content
    nav
        <a href='../../../index.html'>ANDERS</a>
        <a href='../../../lib/index.html'>LIB</a>
        <a href='#'>ISO</a>
    article.main.list
        section
            h1 ISOMORPHISM
            aside
                time Published: 26 NOV 2017
            +tex.
                Just like $\mathrm{Equiv}$ notion of $\mathrm{Iso}$ represents equality
                of types $A$ and $B$ within given universe $U$ in contrast
                to general $\mathrm{Path}$ equality.
        section
            h1 UNIMORPHISM
            +tex.
                Similar to Fibrational Equivalence the notion of
                Retract/Section based Isomorphism could be introduced
                as forth-back transport between isomorphism and path
                equality. This notion is somehow cannonical to all
                cubical systems and is called Unimorphism or $\mathrm{Uni}$ here.

include ../../../footer
