include ../../../header

html
    head
        meta(property='og:title'       content='PROP')
        meta(property='og:description' content='Mere Proposition')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/univalent/prop/')

block title
    title PROP

block content
    nav
        <a href='https://anders.groupoid.space/'>HTS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>PROP</a>

    article.main
        .exe
            section
                h1 PROP

        aside
            time Published: 24 JUN 2018
        .exe
            section
                p.
                    Prop package contains basic theorems about Contractible Signletons, Mere Propositions.

                code.
                    isContr (A: U): U = (x: A) * ((y: A) -> Path A x y)
                    isProp  (A: U): U = n_grpd A Z
                    isSet   (A: U): U = n_grpd A (S Z)

            section
                h1 Theorems

                h2 propSig
                code.
                    propSig (A: U) (B: A -> U)
                            (pi1: isProp A)
                            (pi2: (x : A) -> isProp (B x))
                            (f g: Sigma A B):
                            Path (Sigma A B) f g

                h2 propPi
                code.
                     propPi (A: U) (B : A -> U)
                            (h: (x : A) -> isProp (B x))
                            (f g: Pi A B):
                            Path (Pi A B) f g

                h2 propSet
                code.
                    propSet (A: U) (h: isProp A): isSet A

include ../../../footer

