include ../../../header

html
    head
        meta(property='og:title'       content='MAYBE')
        meta(property='og:description' content='Maybe')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/mltt/maybe/')

block title
    title MAYBE

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>MAYBE</a>
    article.main.list
        section
            h1 MAYBE
            aside
                time Published: 4 NOV 2017
            +tex.
                Maybe has representing functor $M_A(X) = 1 + A$.
                It is used for wrapping values with optional nothing constructor.

            h2 Constructors
            h2 Eliminators
            h2 Induction Principle

include ../../../footer
