Makefile linguist-detectable=false
*.mll linguist-language=OCaml
*.mly linguist-language=OCaml
*.ml linguist-language=OCaml
*.js linguist-detectable=false
*.css linguist-detectable=false
*.pug linguist-detectable=false
*.scss linguist-detectable=false
*.html linguist-detectable=false
