include ../../../header

html
    head
        meta(property='og:title'       content='EQUIV')
        meta(property='og:description' content='Fibrational Equivalence')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/mltt/equiv/')

block title
    title UNIVALENCE

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>EQUIV</a>
    article.main
        .exe
            section
                h1 EQUIV

        aside
            time Published: 30 DEC 2018
        .exe
            section
                h1 UNIVALENCE

include ../../../footer
