include ../header

html
    head
        meta(property='og:title'       content='INTRO')
        meta(property='og:description' content='Type Theory Introduction')
        meta(property='og:url'         content='https://anders.groupoid.space/intro/')

block title
    title INTRO

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>INTRO</a>
    article.main
        .exe
            section
                h1 Теорія типів
                span.
        aside
            time Код курсу: КМ-111-10<br>Кількість кредитів: 12
        .exe
            section
                h2 Вступ в предмет
                p.
                    Теорія типів — це універсальна мова програмування чистої
                    математики (для доведення теорем),
                    яка може містити довільну кількість консистентних аксіом,
                    впорядкованих у вигляді ізоморфізмів: функцій encode і decode та
                    їх рівнянь — бета і ета правил обчислювальності та унікальності (секції та ретракту).
                    Зазвичай теорія типів вже постачається з наступними типами (примітивами-аксіомами)
                    та коментарями у вигляді окремих лекцій (конспекти):
                +tex.
                    $\bullet$ <a href="../foundations/mltt/pi/index.html">Простори функцій</a> ($\mathbf{\Pi}$)<br>
                    $\bullet$ <a href="../foundations/mltt/sigma/index.html">Простори пар</a> ($\mathbf{\Sigma}$)<br>
                    $\bullet$ <a href="../foundations/mltt/id/index.html">Ідентифікаційні простори</a> ($\mathbf{=}$)<br>
                    $\bullet$ <a href="../foundations/univalent/path/index.html">Простори шляхів</a> ($\mathbf{Path}$)<br>
                    $\bullet$ <a href="../foundations/mltt/inductive/index.html">Поліноміальні функтори</a> ($\mathbf{W}$)<br>
                    $\bullet$ Фактор-простори ($\mathbf{Q}$)<br>
                    $\bullet$ CW-комплекси ($\mathbf{HIT}$)<br>
                    $\bullet$ <a href="../foundations/modal/infinitesimal/index.html">Інфінітезимальні околи</a> ($\mathbf{\Im}$)<br>
                p.
                    Слухачам курсу (10) пропонується застосувати
                    теорію типів для доведення початкового але нетривіального результу,
                    який є відкритою проблемою в теорії типів для однєї із
                    математик, що є курсами на кафедрі чистої математики (КМ-111):
                +tex.
                    $\bullet$ Теорія гомотопій<br>
                    $\bullet$ Гомологічна алгебра<br>
                    $\bullet$ Теорія категорій<br>
                    $\bullet$ Функціональний аналіз<br>
                    $\bullet$ Диференціальна геометрія<br>
                p.
                    Курс (10) умовно можна розділити на 4 частини, кожна з яких показує
                    не тільки типи-аксіоми, але і мета-теоретичні спряження в яких
                    вони приймають участь.

                h2  Мотивація
                +tex.
                    Головна мотивація гомотопічної теорії — надати обчислювальну семантику
                    гомотопічним типам та CW-комплексам.
                    Головна ідея гомотопічної теорії [1] полягає в поєднанні
                    просторів функцій $\Pi$, просторів контекстів $\Sigma$ і
                    просторів шляхів $\mathrm{Path}$ таким чином, що вони
                    утворюють фібраційну рівність яка
                    збігається (доводиться в самій теорії) з простором шляхів.

                +code.
                    isContr (A: U): U := Σ (x: A), Π (y: A), Path A x y
                    fiber (A B: U) (f: A → B) (y: B): U := Σ (x: A), Path B y (f x)
                    isEquiv (A B: U) (f: A → B): U := Π (y: B), isContr (fiber A B f y)
                    equiv(X Y: U): U := Σ (f: X → Y), isEqiv X Y f
                    ua (A B : U) (p : Path U A B) : equiv A B
                       := transp (&lt;i> equiv A (p @ i)) 0 (idEquiv A)

                br.
                p.
                    Завдяки відсутності ета-правила у рівності,
                    не кожні два доведення одного простору шляхів
                    дорівнюють між собою, отже
                    простір шляхів утворює багатовимірну структуру
                    інфініті-групоїда.

                +code.
                    isProp (A : U) : U := Π (a b : A),
                        Path A a b

                    isSet (A : U) : U := Π (a b : A)
                        (a0 b0 : Path A a b),
                        Path (Path A a b) a0 b0

                    isGroupoid (A : U) : U
                     := Π (a b : A) (x y : Path A a b)
                        (i j : Path (Path A a b) x y),
                        Path (Path (Path A a b) x y) i j
                br.
                +tex.
                    Групоїдна інтерпретація теорії типів ставить питання про існування мови,
                    в якій можна довести механічно всі всластивості категорного визначення групоїда.
                +code.
                    CatGroupoid (X : U) (G : isGroupoid X)
                       : isCatGroupoid (PathCat X)
                      := ( idp X,
                           comp-Path X,
                           G,
                           sym X,
                           comp-inv-Path⁻¹ X,
                           comp-inv-Path X,
                           comp-Path-left X,
                           comp-Path-right X,
                           comp-Path-assoc X,
                           star
                         )
                +tex.
                    За цей час були перепробувані глобулярні та сімліціальні моделі, але
                    аксіома унівалентності конструктивно валідується тільки в кубічних множинах,
                    на рівні теорії типів це відбувається в Кан-операціях $\mathrm{transp}$ та $\mathrm{hcomp}$.

                br.
                center.
                    &dot;
                p.
                    [1]. Pelayo, Warren. Homotopy type theory and Voevodsky's univalent foundations. 2012.

                h2 Фібраційні доведення
                +tex(true).
                    $$
                       \Sigma\ \dashv\hspace{0.2em}f_\star \dashv \Pi
                    $$
                p.
                    Фібраційні доведення моделюються примітивами-аксіомами які є
                    теоретико-типовими відображеннями категорної мета-теоретичної
                    моделі спряжень трьох функторів Кока-Райта, з яких народжуються
                    простори функцій та простори контекстів: 1) Простір функцій (П);
                    2) Простір пар (Σ). Ці способи доведення дозволяють безпосреденьо
                    аналізувати розшарування.

                h2 Доведення рівності
                +tex(true).
                    $$
                       \mathrm{Q} \dashv\hspace{0.4em}=\hspace{0.4em}\dashv \mathrm{C}
                    $$
                p.
                    В інтенсіональній теорії типів тип рівності вбудований теж
                    як теоретико-типові примітиви категорної мета-теоретичної моделі
                    спряжень трьох функторів Якобса-Лавіра: 1) Фактор-простору (Q);
                    2) Ідентифікаційної системи (=); 3) Стягуваного простору (С).
                    Ці способи доведення дозволяють безпосередньо працювати з
                    ідентифікаційними системами: строгою для теорії множин і гомотопічною
                    для теорії гомотопій.

                h2 Індуктивні доведення
                +tex(true).
                    $$
                       \mathrm{W} \dashv fix \dashv \mathrm{M}
                    $$
                p.
                    В теорії типів індуктивні типи можуть бути вбудованими декількома
                    способами: як поліноміальні функтори W і M або загальні схеми ідуктивних
                    типів Полін-Морін (Calculus of Inductive Constructions)
                    з такими властивостями
                    1) верифікація скінченності програм;
                    2) верифікація строгої позитивності параметрів;
                    3) верифікація взаємної рекурсії.
                p.
                    У цьому курсі гомотопічної теорії типів індукція і коіндукція
                    даються як теоретико-типові примітиви категорної мета-теоретичної моделі
                    спряжень поліноміальних функторів Ламбека-Бома. Ці способи доведень дозволяють
                    безпосередньо маніпулювати ініціальними та термінальними алгебрами,
                    алгебраїчними рекурсивними типами даних, нескінченними процесами.
                p.
                    Вищі індуктивні доведення, де конструкторами крім точок можуть
                    виступати також простори шляхів, також моделюються поліноміальними функторами,
                    але на відміну F-алгебр Ламбека-Бома тут використовуються монади-алгебри
                    та комонади-коалгебри Люмсдейна-Шульмана-Веццозі.

                h2 Геометричні доведення
                +tex(true).
                    $$
                       \Re \dashv \Im \dashv \&
                    $$
                p.
                    Для потреб диференціальної геометрії в теорію типів вбудовують примітиви-аксіоми
                    категорної мета-теоретичної моделі трьох функторів Шрайбера-Шульмана:
                    1) Інфінітезімального околу (Im); 2) Редукованої модальності (Re);
                    3) Інфінітезімального дискретного околу (&).


                h2 Лінійні доведення
                +tex(true).
                    $$
                       \otimes \dashv x \dashv \hspace{0.4em} \multimap
                    $$

include ../footer
