include ../header

html
    head
        meta(property='og:title'       content='INTRO')
        meta(property='og:description' content='Type Theory Intruduction')
        meta(property='og:url'         content='https://anders.groupoid.space/intro/')

block title
    title INTRO

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>INTRO</a>
    article.main
        .exe
            section
                h1 Теорія типів
                span.
        aside
            time Код курсу: КМ-111-10<br>Кількість кредитів: 12
        .exe
            section

                h2 Фібраційні доведення
                +tex(true).
                    $$
                       \Sigma\ \dashv\hspace{0.2em}f_\star \dashv \Pi
                    $$
                p.
                    Фібраційні доведення моделюються примітивами які є
                    типово-теоретичним відображенням категорної мета-теоретичної
                    моделі спряжень трьох функторів Кока-Райта, з яких народжуються
                    простори функцій та простори контекстів: 1) Простір функцій (П);
                    2) Простір пар (Σ). Ці способи доведення дозволяють безпосреденьо
                    аналізувати розшарування.

                h2 Доведення рівності
                +tex(true).
                    $$
                       \mathrm{Q} \dashv\hspace{0.4em}=\hspace{0.4em}\dashv \mathrm{C}
                    $$
                p.
                    В інтенсіональній теорії типів тип рівності вбудований теж
                    як типово-теоретичні примітиви категорної мета-теоретичної моделі
                    спряжень трьох функторів Якобса-Лавіра: 1) Фактор-простору (Q);
                    2) Ідентифікаційної системи (=); 3) Стягуваного простору (С).
                    Ці способи доведення дозволяють безпосередньо працювати з
                    ідентифікаційними системами.

                h2 Індуктивні доведення
                +tex(true).
                    $$
                       \mathrm{W} \dashv fix \dashv \mathrm{M}
                    $$
                p.
                    В теорії типів індуктивні типи можуть бути вбудованими декількома
                    способами. У цьому курсі гомотопічної теорії типів індукція і коіндукція
                    дається як типово-теоретичні примітиви категорної мета-теоретичної моделі
                    спряжень трьох функторів Ламбека-Бома. Ці способи доведення дозволяють
                    безпосередньо працювати з ініціальними та термінальними алгебрами,
                    алгебраїчними рекурсивними типами даних, нескінченними процесами та бісимуляцією.

                h2 Геометричні доведення
                +tex(true).
                    $$
                       \Re \dashv \Im \dashv \&
                    $$
                p.
                    Для потреб диференціальної геометрії в теорію типів вбудовують примітиви
                    категорної мета-теоретичної моделі трьох функторів Шрайбера-Шульмана:
                    1) Інфінітезімального околу (Im); 2) Редукованої модальності (Re);
                    3) Інфінітезімального дискретного (&).


include ../footer
