include ../../../header

html
    head
        meta(property='og:title'       content='Modality')
        meta(property='og:description' content='Modality')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/modal/modality/')

block title
    title INFINITESIMAL

block content
    nav
        <a href='../../../index.html'>ANDERS</a>
        <a href='../../../lib/index.html'>LIB</a>
        <a href='#'>MODALITY</a>
    article.main
        .exe
            section
                h1 MODAL SPACES

        aside
            time Published: 15 JAN 2019
        .exe
            section

                +tex.
                    $\mathbf{Definition}$ (Modality).

                +tex.
                    $\mathbf{Definition}$ (Synonyms). The followin are equivalent:
                    1) Higher modalities; 2) $\Sigma$-closed reflective subuniverses;
                    3) Stable orthogonal factorization systems.

                +tex.
                    $\mathbf{Definition}$ (Modality System).

                +code.
                    def Modality :=
                      Σ (modality: U → U)
                        (isModal : U → U)
                        (eta:      Π (A : U), A → modality A)
                        (elim:     Π (A : U) (B : modality A → U)
                                     (B-Modal : Π (x : modality A), isModal (B x))
                                     (f: П (x : A), (B (eta A x))),
                                     (Π (x : modality A), B x))
                        (elim-β :  Π (A : U) (B : modality A → U)
                                     (B-Modal : Π (x : modality A), isModal (B x))
                                     (f : Π (x : A), (B (eta A x))) (a : A),
                                     PathP (<_>B (eta A a)) (elim A B B-Modal f (eta A a)) (f a))
                        (modalityIsModal : Π (A : U), isModal (modality A))
                        (propIsModal : Π (A : U), Π (a b : isModal A),
                                         PathP (<_>isModal A) a b)
                        (=-Modal : Π (A : U) (x y : modality A),
                                     isModal (PathP (<_>modality A) x y)), 𝟏
                br.

                h1 LITERATURE
                p.
                    [1]. E.Rijke, M.Shulman, B.Spitters. <a href="https://arxiv.org/pdf/1706.07526.pdf">
                    Modalities in Homotopy Type Theory</a>.<br>

include ../../../footer.pug
