include ../header

html
    head
        meta(property='og:title'       content='LIB')
        meta(property='og:description' content='Homotopy Library')
        meta(property='og:url'         content='https://anders.groupoid.space/lib/')

block title
    title LIBRARY

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='https://anders.groupoid.space/spec/'>SPEC</a>
    article.main
        .exe
            section
            h1 HOMOTOPY LIBRARY
            aside
                time Published: 29 JAN 2022
            p.
                Homotopy Library for <a href="https://anders.groupoid.space/">Anders</a>
                proof assistant consists of two parts Foundations and Mathematics just
                as <a href="https://homotopytypetheory.org/book/">HoTT Book</a>.
                Before using library you may want to read
                <a href="https://anders.groupoid.space/intro/">our intro</a> to type theory.

            h2 Foundations
            p.
                MLTT, Modal and Univalent Foundations represent a basic
                language primitives of <b>Anders</b> and its base library.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: <a href='https://anders.groupoid.space/foundations/mltt/pi/'>Π</a>,
                                <a href='https://anders.groupoid.space/foundations/mltt/sigma/'>Σ</a>,
                                <a href='https://anders.groupoid.space/foundations/mltt/id/'>=</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/inductive/'>𝟘, 𝟙, 𝟚, W</a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/either/'>+</a>,
                                <a href='https://anders.groupoid.space/foundations/mltt/maybe/'>M<sub>A</sub></a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/nat/'>ℕ</a>,
                                <a href='https://anders.groupoid.space/foundations/mltt/list/'>L<sub>A</sub></a>
                            li: <a href='https://anders.groupoid.space/foundations/mltt/fin/'>Fin<sub>ℕ</sub></a>,
                                <a href='https://anders.groupoid.space/foundations/mltt/vec/'>Vec<sub>ℕ</sub></a>
                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='https://anders.groupoid.space/foundations/modal/derham/') de Rham
                            li: a(href='https://anders.groupoid.space/foundations/modal/process/') Process
                            li: a(href='https://anders.groupoid.space/foundations/modal/infinitesimal/') ℑ
                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='https://anders.groupoid.space/foundations/univalent/path/') Path
                            li: a(href='https://anders.groupoid.space/foundations/univalent/equiv/') Equiv
                            li: a(href='https://anders.groupoid.space/foundations/univalent/iso/') Iso
                            li: a(href='https://anders.groupoid.space/foundations/univalent/funext/') FunExt
                            li: a(href='https://anders.groupoid.space/foundations/univalent/glue/') Glue

            h2 Mathematics
            p.
                The second part is dedicated to mathematical models and theories internalized in this language.

            section
                .macro
                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/algebra/') Algebra
                            li: a(href='https://anders.groupoid.space/mathematics/algebra/homology/') Homology
                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/etale') Etale
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/bundle') Bundle
                            li: a(href='https://anders.groupoid.space/mathematics/geometry/manifold') Manifold
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/coequalizer/') Coeq
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/pushout/') Pushout
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/pullback/') Pullback
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/hopf/') Hopf
                            li: a(href='https://anders.groupoid.space/mathematics/homotopy/cw/') CW
            section
                .macro
                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='https://anders.groupoid.space/mathematics/categories/category/') Cagetory
                            li: a(href='https://anders.groupoid.space/mathematics/categories/functor/') Functor
                            li: a(href='https://anders.groupoid.space/mathematics/categories/groupoid/') Groupoid
                            li: a(href='https://anders.groupoid.space/mathematics/categories/presheaf/') Presheaf
                            li: a(href='https://anders.groupoid.space/mathematics/categories/topos/') Topos
                    .macro__col
                        h3#categories <b>ANALYSIS</b>
                        ol
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/rational/'>ℚ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/real/'>ℝ</a>,
                            li: <a href='https://anders.groupoid.space/mathematics/analysis/complex/'>ℂ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/quatro/'>ℍ</a>,
                                <a href='https://anders.groupoid.space/mathematics/analysis/octo/'>𝕆</a>
            br.
            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a><br>

include ../footer
