include ../header

html
    head
        meta(property='og:title'       content='LIB')
        meta(property='og:description' content='Homotopy Library')
        meta(property='og:url'         content='https://anders.groupoid.space/lib/')

block title
    title LIBRARY

block content
    nav
        <a href='../index.html'>ANDERS</a>
        <a href='#'>LIB</a>
    article.main
        .exe
            section
            h1 ОСНОВИ МАТЕМАТИКИ
            aside Максим Сохацький
            p.
                Тут представлена базова бібліотека мови Anders для курсу «Теорія типів»,
                яка сумісна з позначеннями, що використовуються в підручнику HoTT.
                Серед принципів, які покладені в основу бібліотеки, головними є: лаконічность,
                академічність, педагогічність. Кожна сторінка має на меті
                повністю висвітлити компоненти типу, використовуючи тільки
                ті типи, що були викладені попередньо, кожне визначення повинно містити
                як математичну нотацію так і код верифікатора та бути вичерпним посібником
                користувача мови програмування Anders та її базової бібліотеки.
                Загалом передбачається, що бібліотека повинна відповідати підручнику HoTT,
                та бути його практичним досліднидницьким артефактом.
            p.
                Короткий <a href="../intro/index.html">вступ</a>
                в теорію типів розкриває систему спряжень у яку
                вбудовуються фундаментальні типи, ідентифікаційні
                системи та модальності.

            h2 Основи
            p.
                Модальні унівалентні MLTT основи розділені на три частини.
                Перша частина містить класичні типи MLTT системи описані Мартіном-Льофом.
                Друга частина містить унівалентні ідентифікаційні системи.
                Третя частина містить модальності, які використовуються в
                диференціальній геометріїї та в теорії гомотопій. Основи пропонують
                фундаментальний базис який використовується для формалізації
                сучасної математики в таких системах доведення теорем як: Coq, Agda, Lean.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: <a href='../foundations/mltt/pi/index.html'>Pi</a>,
                                <a href='../foundations/mltt/sigma/index.html'>Sigma</a>,
                                <a href='../foundations/mltt/id/index.html'>Id</a>
                            li: <a href='../foundations/mltt/inductive/index.html'>𝟘, 𝟙, 𝟚, W</a>
                            li: <a href='../foundations/mltt/either/index.html'>Either</a>,
                                <a href='../foundations/mltt/maybe/index.html'>Maybe</a>
                            li: <a href='../foundations/mltt/nat/index.html'>ℕ</a>,
                                <a href='../foundations/mltt/list/index.html'>List</a>
                            li: <a href='../foundations/mltt/fin/index.html'>Fin<sub>ℕ</sub></a>,
                                <a href='../foundations/mltt/vec/index.html'>Vec<sub>ℕ</sub></a>
                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='../foundations/univalent/path/index.html') Path
                            li: a(href='../foundations/univalent/glue/index.html') Glue
                            li: a(href='../foundations/univalent/equiv/index.html') Equivalence
                            li: a(href='../foundations/univalent/iso/index.html') Isomorphism
                            li: a(href='../foundations/univalent/funext/index.html') Homotopy
                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='../foundations/modal/modality/index.html') Modality
                            li: a(href='../foundations/modal/infinitesimal/index.html') Infinitesimal
                            li: a(href='../foundations/modal/localization/index.html') Localization
                            <!-- li: a(href='../foundations/modal/process/index.html') Process -->

            h2 Математики
            p.
                Друга частина базової бібліотеки містить формалізації математичних теорій
                з різних галузей математики: аналіз, алгебра, геометрія, теорія гомотопій,
                теорія категорій.

            section
                .macro
                    .macro__col
                        h3#categories <b>ANALYSIS</b>
                        ol
                            li: <a href='../mathematics/analysis/topology/index.html'>Topology</a>
                            li: <a href='../mathematics/analysis/set/index.html'>Set</a>
                            li: <a href='../mathematics/analysis/rational/index.html'>ℚ</a>,
                                <a href='../mathematics/analysis/real/index.html'>ℝ</a>,
                            li: <a href='../mathematics/analysis/complex/index.html'>ℂ</a>,
                                <a href='../mathematics/analysis/quatro/index.html'>ℍ</a>,
                                <a href='../mathematics/analysis/octo/index.html'>𝕆</a>
                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='../mathematics/algebra/group/index.html') Group
                            li: a(href='../mathematics/algebra/algebra/index.html') Algebra
                            li: a(href='../mathematics/algebra/homology/index.html') Homology
                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='../mathematics/geometry/etale/index.html') Etale
                            li: a(href='../mathematics/geometry/bundle/index.html') Bundle
                            li: a(href='../mathematics/geometry/manifold/index.html') Manifold
                            li: a(href='../mathematics/geometry/derham/index.html') de Rham
            section
                .macro
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='../mathematics/homotopy/limit/index.html') Limit
                            li: a(href='../mathematics/homotopy/colimit/index.html') Colimit
                            li: a(href='../mathematics/homotopy/coeq/index.html') Coequalizer
                            li: a(href='../mathematics/homotopy/cw/index.html') CW
                            li: a(href='../mathematics/homotopy/pullback/index.html') Pullback
                            li: a(href='../mathematics/homotopy/pushout/index.html') Pushout
                            li: a(href='../mathematics/homotopy/hopf/index.html') Hopf
                            li: a(href='../mathematics/homotopy/em/index.html') K(G,n)
                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='../mathematics/categories/category/index.html') Cagetory
                            li: a(href='../mathematics/categories/functor/index.html') Functor
                            li: a(href='../mathematics/categories/groupoid/index.html') Groupoid
                            li: a(href='../mathematics/categories/presheaf/index.html') Presheaf
                            li: a(href='../mathematics/categories/topos/index.html') Topos
                            li: a(href='../mathematics/categories/abelian/index.html') Abelian
            br.
            p.
                 Базова бібліотека для мови cubicaltt знаходиться на іншій сторінці:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics:
                 The Cubical Base Library</a><br>

include ../footer
