include ../header

html
    head
        meta(property='og:title'       content='LIB')
        meta(property='og:description' content='Homotopy Library')
        meta(property='og:url'         content='https://anders.groupoid.space/lib/')

block title
    title LIBRARY

block content
    nav
        <a href='../index.html'>ANDERS</a>
        <a href='#'>LIB</a>
    article.main
        .exe
            section
            h1 HOMOTOPY LIBRARY
            aside
                time Published: 29 JAN 2022
            p.
                Homotopy Library for <a href="../index.html">Anders</a>
                proof assistant consists of two parts Foundations and Mathematics just
                as <a href="https://homotopytypetheory.org/book/">HoTT Book</a>.
                Before using library you may want to read
                <a href="../intro/index.html">our intro</a> to type theory.

            h2 Foundations
            p.
                Modal Univalent MLTT Foundations represent a basic
                language primitives of HoTT, <b>Anders</b> and its base library.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: <a href='../foundations/mltt/pi/index.html'>Π</a>,
                                <a href='../foundations/mltt/sigma/index.html'>Σ</a>,
                                <a href='../foundations/mltt/id/index.html'>=</a>
                            li: <a href='../foundations/mltt/inductive/index.html'>𝟘, 𝟙, 𝟚, W</a>
                            li: <a href='../foundations/mltt/either/index.html'>+</a>,
                                <a href='../foundations/mltt/maybe/index.html'>M<sub>A</sub></a>
                            li: <a href='../foundations/mltt/nat/index.html'>ℕ</a>,
                                <a href='../foundations/mltt/list/index.html'>L<sub>A</sub></a>
                            li: <a href='../foundations/mltt/fin/index.html'>Fin<sub>ℕ</sub></a>,
                                <a href='../foundations/mltt/vec/index.html'>Vec<sub>ℕ</sub></a>
                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='../foundations/univalent/path/index.html') Path
                            li: a(href='../foundations/univalent/equiv/index.html') Equiv
                            li: a(href='../foundations/univalent/iso/index.html') Iso
                            li: a(href='../foundations/univalent/funext/index.html') FunExt
                            li: a(href='../foundations/univalent/glue/index.html') Glue
                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='../foundations/modal/modality/index.html') Modality
                            li: a(href='../foundations/modal/localization/index.html') Localization
                            li: a(href='../foundations/modal/infinitesimal/index.html') Infinitesimal
                            <!-- li: a(href='../foundations/modal/process/index.html') Process -->

            h2 Mathematics
            p.
                The second part is dedicated to mathematical models and theories internalized in this language.

            section
                .macro
                    .macro__col
                        h3#categories <b>ANALYSIS</b>
                        ol
                            li: <a href='../mathematics/analysis/set/index.html'>Set</a>
                            li: <a href='../mathematics/analysis/rational/index.html'>ℚ</a>,
                                <a href='../mathematics/analysis/real/index.html'>ℝ</a>,
                            li: <a href='../mathematics/analysis/complex/index.html'>ℂ</a>,
                                <a href='../mathematics/analysis/quatro/index.html'>ℍ</a>,
                                <a href='../mathematics/analysis/octo/index.html'>𝕆</a>
                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='../mathematics/algebra/algebra/index.html') Algebra
                            li: a(href='../mathematics/algebra/homology/index.html') Homology
                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='../mathematics/geometry/etale/index.html') Etale
                            li: a(href='../mathematics/geometry/bundle/index.html') Bundle
                            li: a(href='../mathematics/geometry/manifold/index.html') Manifold
                            li: a(href='../mathematics/geometry/derham/index.html') de Rham
            section
                .macro
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='../mathematics/homotopy/coequalizer/index.html') Coeq
                            li: a(href='../mathematics/homotopy/pushout/index.html') Pushout
                            li: a(href='../mathematics/homotopy/pullback/index.html') Pullback
                            li: a(href='../mathematics/homotopy/hopf/index.html') Hopf
                            li: a(href='../mathematics/homotopy/cw/index.html') CW
                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='../mathematics/categories/category/index.html') Cagetory
                            li: a(href='../mathematics/categories/functor/index.html') Functor
                            li: a(href='../mathematics/categories/groupoid/index.html') Groupoid
                            li: a(href='../mathematics/categories/presheaf/index.html') Presheaf
                            li: a(href='../mathematics/categories/topos/index.html') Topos
            br.
            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a><br>

include ../footer
