include ../../../header

block title
    title IOI

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>IOI</a>
    article.main.list
        section
            h1 IOI
        section
            h2 INFINITE
            p Infinite I/O is corecursive cofree comonad represented as coinductive type IOI.
            +code.
                data IOF r s
                   = PutStrLn String s
                   | GetLine (String -> s)
                   | Return r

                data IOI r
                   = forall s . MkIO s (s -> IOF r s)

                io : IOI
                   = MkIO Nothing (maybe (\str -> PutStrLn str Nothing)
                                         (GetLine Just))

include ../../../footer
