include ../../../header

html
    head
        meta(property='og:title'       content='EITHER')
        meta(property='og:description' content='Either type (disjunction, union)')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/mltt/either/')

block title
    title EITHER

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>EITHER</a>
    article.main.list
        section
            h1 EITHER
            aside
                time Published: 16 OCT 2017
            +tex.
                $+$-type is a representation disjunction.

            h2 Constructors
            h2 Eliminators
            h2 Induction Principle

include ../../../footer
