include ../../../header

block title
    title SHEAF

block content
    nav
        <a href='https://anders.groupoid.space/'>HTS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>SHEAF</a>
    article.main
        .exe
            section
                h1 INFINITY SHEAVES
        aside
            time Published: 13 JAN 2019
        .exe
            section
                p.
                    This article requires as prerequisites an article about the formalization
                    of the category theory and topos theory:
                    <a href="../topos/index.html">Formal Set Topos</a>.

            section
                figure.
                    $$\def\mapright#1{\xrightarrow{{#1}}}
                      \def\mapdown#1{\Big\downarrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagl#1{\vcenter{\searrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagr#1{\vcenter{\swarrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                    $$
                h1 INTRO
                p.
                    The concept of a sheaf was conceived in the German camp for prisoners
                    of war called Oflag XVII where French officers taken captive during
                    the fighting in France in the spring 1940 were imprisoned. Among
                    them was the mathematician and lieutenant Jean Leray.
                    In the camp he gave a course in algebraic topology during
                    which he introduced some version of the theory of sheaves.
                p.
                    Jean Leray was aimed at calculating the cohomology of a total space
                    of a fibration in terms of invariants of the base and the fibres (and
                    naturally the fibration). To achieve this in addition to the concept
                    of sheaves, he invented spectral sequences.
                p.
                    After the war Henri Cartan and Jean Pierre Serre developed
                    the theory further, and finally the theory was brought to
                    the state as we know it today by Alexandre Grothendieck.

include ../../../footer

