include ../../../header

html
    head
        meta(property='og:title'       content='PUSHOUT')
        meta(property='og:description' content='Homotopy Pushout')
        meta(property='og:url'         content='https://anders.groupoid.space/mathematics/homotopy/pushout/')

block title
    title PUSHOUT

block content
    nav
        <a href='https://anders.groupoid.space/'>ANDERS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>LIST</a>
    article.main.list
        .ext
            section
                h1 PUSHOUT
                aside
                    time Published: 20 MAY 2018
            section
                +tex(true).
                    $$
                      \def\mapright#1{\xrightarrow{{#1}}}
                      \def\mapleft#1{\xleftarrow{{#1}}}
                      \def\mapdown#1{\Big\downarrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagl#1{\vcenter{\searrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagr#1{\vcenter{\swarrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                    $$
                +tex.
                    $\mathbf{Definition}$ (Span).
                    The two maps $f,g$ with the same domain $C$ are called <i>span</i>:
                +tex(true).
                    $$
                        A \mapleft{f} C \mapright{g} B.
                    $$
                +tex.
                    $\mathbf{Definition}$ (Homotopy Pushout).
                    The homotopy pushout or homotopy colimit (denoted as $\mathrm{hocolim}$)
                    of the span diagram:
                +tex(true).
                    $$
                        \mathrm{hocolim}(A \mapleft{f} C \mapright{g} B)
                          = A \sqcup B \sqcup C \times I\ / \sim,
                    $$
                +tex.
                    where $\sim$ is an equivalence relation $f(c) \sim (w,0)$ and $g(w) \sim (w,1)$
                    for $w \in C$. If $C$ is a based space with basepoint $w_0$, we
                    add the relation $(w_0,t) ~ (w_1,s)$ for all $s,t \in I$.
                code.
                  data pushout (A B C: U) (f: C -> A) (g: C -> B)
                     = po1 (_: A)
                     | po2 (_: B)
                     | po3 (c: C) &lt;i&gt; [ (i = 0) -> po1 (f c) ,
                                        (i = 1) -> po2 (g c) ]
                br.

                h1 EXAMPLES

                +tex.
                    $\mathbf{Definition}$ (Homotopy Fibers).
                code.
                  hofiber (A B: U) (f: A -> B) (y: B): U
                    = pullback A unit B f (\(x: unit) -> y)

                +tex.
                    $\mathbf{Definition}$ (Fiber Pullback).
                code.
                  fiberPullback (A B: U) (f: A -> B) (y: B)
                    : pullbackSq (hofiber A B f y)

                +tex.
                    $\mathbf{Definition}$ (Homotopy Cofiber).
                code.
                  cofiber (A B: U) (f: B -> A): U
                    = pushout A unit B f (\(x: B) -> tt)

                +tex.
                    $\mathbf{Definition}$> (Kernel).
                code.
                  kernel (A B: U) (f: A -> B): U
                    = pullback A A B f f

                +tex.
                    $\mathbf{Definition}$> (Cokernel).
                code.
                  cokernel (A B: U) (f: B -> A): U
                    = pushout A A B f f
                br.

                h1 LITERATURE
                p.
                    [1]. Brian Munson and Ismar Volić. <a href="https://web.math.rochester.edu/people/faculty/doug/otherpapers/munson-volic.pdf">Cubical Homotopy Theory</a><br>

include ../../../footer

