include ../../../header

html
    head
        meta(property='og:title'       content='ID')
        meta(property='og:description' content='Equality types')
        meta(property='og:url'         content='https://anders.groupoid.space/foundations/mltt/id/')

block title
    title ID

block content
    nav
        <a href='https://anders.groupoid.space/'>HTS</a>
        <a href='https://anders.groupoid.space/lib/'>LIB</a>
        <a href='#'>ID</a>
    article.main.list
        section
            h1 ID
            aside
                time Published: 4 NOV 2021
            h2 Constructors
            h2 Eliminators
            h2 Induction Principle

include ../../../footer

